<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shopping Cart CA</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @{
    ShoppingCartCA.Container.SessionData session = (ShoppingCartCA.Container.SessionData)ViewData["SessionData"];
    }
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/Home/Login">CA Shopping</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            
            <div class="collapse navbar-collapse" id="navbarNav">
             @if (session != null)
            {
                <ul class="navbar-nav lg-10">
                    <li class="nav-item active">
                        <a class="nav-link" href="../ProductGallery/ViewProducts">
                            Products
                            @if(ViewData["Title"] == "ViewProducts")
                    {
                            <span class="sr-only">(current)</span>
                    }
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../MyPurchase/PurchaseHistory">
                            Purchase History
                            @if(ViewData["Title"] == "PurchaseHistory")
                    {
                            <span class="sr-only">(current)</span>
                    }
                        </a>
                    </li>
                </ul>

            }
            <ul class="navbar-nav lg-2 ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../Cart/ViewCart">
                        <img src="~/image/shopping-cart.png" height="30" width="30" align="right" id="cart" />
                        Cart
                        @if(ViewData["cartItemCount"] != null)
                        {

                        @:(@ViewData["cartItemCount"])

                        }
                        @if(ViewData["Title"] == "ViewCart")
                        {
                        <span class="sr-only">(current)</span>
                        }
                    </a>
                </li>
                @if (session != null)
                {
                <li class="nav-item">
                    <a class="nav-link" href="../Home/Logout">
                        Log out
                    </a>
                </li>
                }
            </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - ShoppingCartCA - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
